Repository JordiOrriols/website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx npm-sort, prettier --write

.lintstagedrc.json:

{
    "package.json": ["npx npm-sort"],
    "public/**/*.{html,json}": ["prettier --write"],
    "src/**/*.{json,md}": ["prettier --write"],
    "src/**/*.{css,scss}": [
        "prettier --write"
    ],
    "src/**/*.{tsx,ts}": ["prettier --write"]
}

chore: remove tailwind from vitest
  vitest.config.ts
Due: none

chore: add testing validation before deploying
  .github/workflows/build.yml
Due: none

chore: adding more tests on weather
  src/components/weather/elements/cloud.test.tsx
  src/components/weather/elements/confetti.test.tsx
  src/components/weather/elements/fireworks.test.tsx
  src/components/weather/elements/ghosts.test.tsx
  src/components/weather/elements/lightning.test.tsx
  src/components/weather/elements/logo.test.tsx
  src/components/weather/elements/moon.test.tsx
  src/components/weather/elements/rain.test.tsx
  src/components/weather/elements/skyline.test.tsx
  src/components/weather/elements/snow.test.tsx
  src/components/weather/elements/stars.test.tsx
  src/components/weather/elements/sun.test.tsx
  src/components/weather/scenes/dynamic.test.tsx
  src/components/weather/scenes/halloween.test.tsx
  src/components/weather/scenes/new-year.test.tsx
  src/components/weather/scenes/thunderstorm.test.tsx
Due: prettier --write

chore: use newer version for node on github actions
  .github/workflows/build.yml
Due: none

chore: adding more tests
  src/App.test.jsx
  src/components/sections/home.test.tsx
  src/components/weather/scenes/dynamic.test.tsx
  src/lib/ambient.test.ts
Due: prettier --write

chore: add last tests
  src/locales/types.test.ts
  src/pages/portfolio.test.tsx
Due: prettier --write

chore: install linter and prettier
  .eslintignore
  .prettierignore
  package-lock.json
  package.json
Due: npx npm-sort

Create .prettierrc.json
  .prettierrc.json
Due: none

chore: configure eslint and prettier
  .eslintignore
  .prettierrc.json
  .vscode/settings.json
  eslint.config.js
Due: none

chore: run prettier and lint when build
  .github/workflows/build.yml
Due: none

chore: remove max warnings
  package.json
Due: npx npm-sort

chore: fix lint errors
  eslint.config.js
  src/components/plane.tsx
  src/components/weather/elements/ghosts.tsx
  src/components/weather/elements/lightning.tsx
  src/lib/ambient.ts
  src/pages/portfolio.tsx
Due: prettier --write

chore: add tsc check
  tsconfig.app.json
  tsconfig.json
Due: none

chore: add husky
  package-lock.json
  package.json
Due: npx npm-sort

Update settings.json
  .vscode/settings.json
Due: none

chore: move isContactAvailable to a constant
  src/components/sections/home.tsx
Due: prettier --write

chore: run tsc on build
  .github/workflows/build.yml
  package.json
Due: npx npm-sort

chore: improve typescript
  src/components/avatar.tsx
  src/components/weather/elements/confetti.tsx
  src/components/weather/elements/fireworks.tsx
  src/components/weather/elements/ghosts.tsx
  src/components/weather/elements/rain.tsx
  src/components/weather/elements/snow.tsx
  src/components/weather/elements/stars.tsx
  src/components/weather/scenes/dynamic.tsx
  src/lib/weather.ts
  src/locales/ca.ts
  src/locales/en.ts
  src/locales/es.ts
  src/locales/types.ts
Due: prettier --write

chore: fix typescript
  src/components/weather/elements/fireworks.tsx
  src/components/weather/elements/snow.tsx
  src/lib/i18n.ts
  src/pages/portfolio.tsx
Due: prettier --write

chore: improve typescript
  src/components/language-selector.tsx
  src/components/sections/contact-form.tsx
  src/components/sections/experience.tsx
  src/components/sections/gallery.tsx
  src/components/weather/elements/cloud.tsx
  src/components/weather/elements/confetti.tsx
  src/components/weather/elements/fireworks.tsx
  src/components/weather/scenes/halloween.tsx
  src/components/weather/scenes/new-year.tsx
  src/components/weather/scenes/thunderstorm.tsx
  src/data/experience.ts
  src/lib/ambient.ts
  src/lib/i18n.ts
  src/locales/types.ts
Due: prettier --write

chore: fixing typescript
  package-lock.json
  package.json
  src/components/sections/home.tsx
  src/pages/portfolio.tsx
Due: npx npm-sort, prettier --write

chore: add compile rules for typescript
  package.json
  tsconfig.app.json
  tsconfig.json
Due: npx npm-sort

chore: fix vitest
  vitest.config.ts
Due: none

chore: fix eslint
  src/components/language-selector.tsx
  src/components/plane.tsx
  src/components/sections/contact-form.tsx
  src/components/sections/experience.test.tsx
  src/components/sections/home.tsx
  src/components/ui/dialog.test.tsx
  src/components/weather/elements/cloud.tsx
  src/components/weather/elements/confetti.tsx
  src/components/weather/elements/fireworks.tsx
  src/components/weather/elements/ghosts.tsx
  src/components/weather/elements/rain.tsx
  src/components/weather/elements/snow.tsx
  src/components/weather/elements/stars.tsx
  src/lib/ambient.ts
  src/lib/i18n.ts
  src/lib/utils.test.ts
  src/lib/weather.test.ts
  src/pages/portfolio.tsx
Due: prettier --write

chore: fixing weather
  src/lib/weather.ts
  src/pages/portfolio.test.tsx
Due: prettier --write

chore: fixing eslint
  src/components/ui/input.test.tsx
  src/components/ui/textarea.test.tsx
Due: prettier --write

chore: eslint set to string
  src/components/plane.tsx
Due: prettier --write

chore: using Memo instead of useState
  src/components/weather/elements/cloud.tsx
  src/components/weather/elements/confetti.tsx
  src/components/weather/elements/rain.tsx
  src/components/weather/elements/snow.tsx
  src/components/weather/elements/stars.tsx
Due: prettier --write

Update dynamic.tsx
  src/components/weather/scenes/dynamic.tsx
Due: prettier --write

chore: fix typescript compilation
  src/components/plane.tsx
  src/pages/portfolio.tsx
Due: prettier --write

Update portfolio.test.tsx
  src/pages/portfolio.test.tsx
Due: prettier --write

chore: fix lint
  src/components/weather/elements/cloud.tsx
Due: prettier --write

chore: disable not ready sections
  src/components/sections/home.tsx
Due: prettier --write

chore: skip pending tessts
  src/components/sections/home.test.tsx
Due: prettier --write

chore: using full size screen
  index.css
  index.html
  src/pages/portfolio.test.tsx
  src/pages/portfolio.tsx
Due: prettier --write

chore: add umami
  index.html
Due: none

chore: create analytics with umami
  docs/ANALYTICS.md
  docs/ANALYTICS_FLOW.md
  docs/ANALYTICS_REFERENCE.md
  docs/ANALYTICS_SUMMARY.md
  src/components/avatar.tsx
  src/components/language-selector.tsx
  src/lib/analytics.test.ts
  src/lib/analytics.ts
  src/pages/portfolio.tsx
Due: prettier --write

chore: add readme for analytics
  docs/ANALYTICS.md
  docs/ANALYTICS_FLOW.md
  docs/ANALYTICS_REFERENCE.md
  docs/ANALYTICS_SUMMARY.md
Due: none

chore: add safe area view
  src/components/weather/SafeAreaContainer.test.tsx
  src/components/weather/SafeAreaContainer.tsx
  src/components/weather/scenes/dynamic.tsx
  src/components/weather/scenes/halloween.tsx
  src/components/weather/scenes/new-year.tsx
  src/components/weather/scenes/thunderstorm.tsx
Due: prettier --write
