Repository JordiOrriols/website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx npm-sort, prettier --write

chore: test adding safe area
  src/components/weather/safe-area-container.test.tsx
  src/components/weather/safe-area-container.tsx
  src/components/weather/scenes/dynamic.tsx
  src/components/weather/scenes/halloween.tsx
  src/components/weather/scenes/new-year.tsx
  src/components/weather/scenes/thunderstorm.tsx
Due: prettier --write

chore: run prettier
  src/components/weather/safe-area-container.test.tsx
  src/components/weather/safe-area-container.tsx
Due: prettier --write

chore: add left and right insets
  src/components/weather/safe-area-container.tsx
Due: prettier --write

chore: optimize clouds
  src/components/weather/elements/cloud.tsx
Due: prettier --write

chore: this commit will be not valid, ia is not doing great work
  src/components/weather/safe-area-container.test.tsx
  src/components/weather/safe-area-container.tsx
  src/components/weather/scenes/dynamic.tsx
  src/components/weather/scenes/halloween.tsx
  src/components/weather/scenes/new-year.tsx
  src/components/weather/scenes/thunderstorm.tsx
Due: prettier --write

chore: prettier
  src/components/weather/elements/cloud.tsx
  src/components/weather/scenes/dynamic.tsx
  src/components/weather/scenes/thunderstorm.tsx
Due: prettier --write

chore: realign again with safe area container
  src/components/weather/scenes/dynamic.tsx
  src/components/weather/scenes/halloween.tsx
  src/components/weather/scenes/new-year.tsx
  src/components/weather/scenes/thunderstorm.tsx
Due: prettier --write

chore: improve mobile version
  src/components/sections/experience.tsx
Due: prettier --write

chore: fixing safe area
  index.css
Due: none

chore: notch test
  index.css
  index.html
  src/components/weather/safe-area-container.test.tsx
  src/components/weather/safe-area-container.tsx
Due: prettier --write

chore: another notch try
  index.css
  src/components/weather/elements/logo.tsx
  src/components/weather/safe-area-container.test.tsx
  src/components/weather/safe-area-container.tsx
Due: prettier --write

chore: last try for notch
  index.css
  index.html
  src/components/weather/elements/logo.tsx
  src/components/weather/safe-area-container.tsx
Due: prettier --write

fix: test
  index.html
  src/components/weather/safe-area-container.test.tsx
Due: prettier --write

chore: fixing notch
  src/components/weather/elements/logo.tsx
  src/components/weather/safe-area-container.test.tsx
  src/components/weather/safe-area-container.tsx
Due: prettier --write

chore: add aviator headsets
  src/components/avatar.tsx
  src/components/sections/home.tsx
  src/pages/portfolio.tsx
Due: prettier --write

Update avatar.svg
  src/components/avatar.svg
Due: none

chore: detect conditions to fly
  src/locales/ca.ts
  src/locales/en.ts
  src/locales/es.ts
  src/locales/types.ts
  src/pages/portfolio.tsx
Due: prettier --write

chore: make close optional
  src/components/ui/dialog.tsx
  src/pages/portfolio.tsx
Due: prettier --write

chore: change texts
  src/locales/ca.ts
  src/locales/en.ts
  src/locales/es.ts
  src/locales/types.ts
Due: prettier --write

chore: saving color for theme
  src/components/weather/safe-area-container.test.tsx
  src/components/weather/safe-area-container.tsx
  src/components/weather/scenes/dynamic.tsx
  src/components/weather/scenes/halloween.tsx
  src/components/weather/scenes/new-year.tsx
  src/components/weather/scenes/thunderstorm.tsx
Due: prettier --write

chore: run prettier
  src/components/weather/safe-area-container.tsx
  src/components/weather/scenes/dynamic.tsx
  src/components/weather/scenes/halloween.tsx
  src/components/weather/scenes/new-year.tsx
  src/components/weather/scenes/thunderstorm.tsx
Due: prettier --write

chore: use absolute instead of fixed
  src/components/plane.tsx
  src/components/ui/dialog.tsx
Due: prettier --write

chore: add default background
  index.css
Due: none

chore: passing skyfill
  src/components/weather/scenes/dynamic.tsx
  src/components/weather/scenes/halloween.tsx
  src/components/weather/scenes/new-year.tsx
  src/components/weather/scenes/thunderstorm.tsx
Due: prettier --write

chore: adding different colors on body and html
  index.css
Due: none

chore: blend colors
  src/components/weather/safe-area-container.tsx
Due: prettier --write

chore: fix colors
  index.css
  src/components/weather/safe-area-container.tsx
  src/components/weather/scenes/dynamic.tsx
Due: prettier --write

chore: add accesibility
  src/components/avatar.tsx
  src/components/language-selector.test.tsx
  src/components/plane.tsx
  src/components/sections/gallery.tsx
  src/components/stats.tsx
  src/lib/i18n.ts
  src/locales/ca.ts
  src/locales/en.ts
  src/locales/es.ts
  src/locales/types.ts
  src/pages/portfolio.tsx
Due: prettier --write

chore: fix html
  index.html
Due: none

chore: add accesibility
  src/components/avatar.tsx
  src/components/language-selector.tsx
  src/components/stats.tsx
  src/components/ui/modal.tsx
Due: prettier --write

Revert "chore: fix html"
  index.html
Due: none

chore: last try to get colors on bottom
  index.css
Due: none

chore: fix lint
  src/components/avatar.tsx
Due: prettier --write

npm run format
  src/components/avatar.tsx
  src/components/language-selector.tsx
  src/components/plane.tsx
  src/components/stats.tsx
  src/components/ui/modal.tsx
  src/pages/portfolio.tsx
Due: prettier --write

chore: add testid
  src/components/avatar.tsx
  src/components/language-selector.tsx
  src/components/sections/home.tsx
  src/components/stats.tsx
  src/pages/portfolio.tsx
Due: prettier --write

chore: format
  src/components/sections/home.tsx
  src/components/stats.tsx
Due: prettier --write

chore: add ai specs
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  ai-specs/.DS_Store
  ai-specs/.agents/backend-developer.md
  ai-specs/.agents/frontend-developer.md
  ai-specs/.agents/product-strategy-analyst.md
  ai-specs/.commands/commit.md
  ai-specs/.commands/develop-backend.md
  ai-specs/.commands/develop-frontend.md
  ai-specs/.commands/enrich-us.md
  ai-specs/.commands/explain.md
  ai-specs/.commands/meta-prompt.md
  ai-specs/.commands/plan-backend-ticket.md
  ai-specs/.commands/plan-frontend-ticket.md
  ai-specs/.commands/update-docs.md
  ai-specs/changes/SCRUM-10-Position-Update.md
  ai-specs/changes/SCRUM-10_backend.md
  ai-specs/specs/api-spec.yml
  ai-specs/specs/backend-standards.mdc
  ai-specs/specs/base-standards.mdc
  ai-specs/specs/data-model.md
  ai-specs/specs/development_guide.md
  ai-specs/specs/documentation-standards.mdc
  ai-specs/specs/frontend-standards.mdc
  codex.md
Due: none

Update .gitignore
  .gitignore
Due: none

chore: add ai agents
  .github/prompts/opsx-apply.prompt.md
  .github/prompts/opsx-archive.prompt.md
  .github/prompts/opsx-explore.prompt.md
  .github/prompts/opsx-propose.prompt.md
  .github/skills/openspec-apply-change/SKILL.md
  .github/skills/openspec-archive-change/SKILL.md
  .github/skills/openspec-explore/SKILL.md
  .github/skills/openspec-propose/SKILL.md
  package-lock.json
  package.json
Due: npx npm-sort

chore: init open spec
  openspec/config.yaml
  openspec/specs/analytics/spec.md
  openspec/specs/audio/spec.md
  openspec/specs/contact/spec.md
  openspec/specs/i18n/spec.md
  openspec/specs/plane/spec.md
  openspec/specs/portfolio/spec.md
  openspec/specs/seasons/spec.md
  openspec/specs/time-of-day/spec.md
  openspec/specs/weather/spec.md
Due: none

Path conditions:
  npx npm-sort: any of: package.json
  prettier --write: (((any of: public/**/*.{html,json}) or (any of: src/**/*.{json,md})) or (any of: src/**/*.{css,scss})) or (any of: src/**/*.{tsx,ts})
