Repository JordiOrriols/wefox-challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: npx npm-sort, prettier --write, npm run stylelint-fix

.lintstagedrc.json:

{
    "package.json": ["npx npm-sort"],
    "public/**/*.{html,json}": ["prettier --write"],
    "src/**/*.{json,md}": ["prettier --write"],
    "src/**/*.{css,scss}": [
        "npm run stylelint-fix",
        "prettier --write"
    ],
    "src/**/*.{tsx,ts}": ["prettier --write"]
}

Use Json as content type on calls
  src/api/api.ts
Due: prettier --write

Add button component
  src/components/button.tsx
  src/components/input.tsx
  src/helpers/colors.tsx
  src/routes/post-edit.tsx
Due: prettier --write

Add refresh when edit or create
  src/App.tsx
  src/contexts/posts.tsx
  src/routes/post-edit.tsx
  src/routes/post-list.test.tsx
Due: prettier --write

Add delete button
  src/components/button.tsx
  src/helpers/colors.tsx
  src/routes/post-edit.tsx
Due: prettier --write

Hide link on card when preview
  src/components/card-post.tsx
Due: prettier --write

Fix API when delete
  src/api/api.ts
Due: prettier --write

Add errors on inputs
  src/components/button.tsx
  src/components/input.tsx
  src/routes/post-edit.tsx
Due: prettier --write

Fix tests
  src/routes/post-edit.test.tsx
  src/setupTests.ts
Due: prettier --write

Add toasts when errors
  package-lock.json
  package.json
  src/App.tsx
  src/routes/post-edit.tsx
Due: npx npm-sort, prettier --write

Update App.tsx
  src/App.tsx
Due: prettier --write

Update README.md
  README.md
Due: none

Create node.js.yml
  .github/workflows/node.js.yml
Due: none

Delete node.js.yml
  .github/workflows/node.js.yml
Due: none
