Repository JordiOrriols/website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx npm-sort, prettier --write

.lintstagedrc.json:

{
    "package.json": ["npx npm-sort"],
    "public/**/*.{html,json}": ["prettier --write"],
    "src/**/*.{json,md}": ["prettier --write"],
    "src/**/*.{css,scss}": [
        "prettier --write"
    ],
    "src/**/*.{tsx,ts}": ["prettier --write"]
}

chore: add confetti
  src/components/weather/elements/confetti.tsx
Due: prettier --write

chore: create components moon and sun
  src/components/weather/clear.tsx
  src/components/weather/elements/moon.tsx
  src/components/weather/elements/sun.tsx
  src/components/weather/new-year.tsx
Due: prettier --write

chore: move scenes into folder
  src/components/weather/scenes/clear.tsx
  src/components/weather/scenes/new-year.tsx
  src/components/weather/scenes/thunderstorm.tsx
  src/pages/portfolio.tsx
Due: prettier --write

chore: rename clear to dynamic scene
  src/components/weather/scenes/dynamic.tsx
  src/pages/portfolio.tsx
Due: prettier --write

chore: adding new year scene
  src/components/weather/elements/fireworks.tsx
  src/components/weather/scenes/dynamic.tsx
  src/components/weather/scenes/new-year.tsx
  src/pages/portfolio.tsx
Due: prettier --write

chore: reduce stars
  src/components/weather/scenes/dynamic.tsx
  src/components/weather/scenes/new-year.tsx
Due: prettier --write

chore: adding fireworks sound
  public/audio/fireworks-01.mp3
  public/audio/fireworks-02.mp3
  public/audio/fireworks-03.mp3
  src/components/weather/elements/fireworks.tsx
  src/components/weather/scenes/new-year.tsx
  src/lib/ambient.ts
  src/pages/portfolio.tsx
Due: prettier --write

chore: adding halloween style
  src/components/weather/scenes/halloween.tsx
Due: prettier --write

chore: update avatar
  src/components/avatar.svg
  src/components/avatar.tsx
Due: prettier --write

chore: adding new avatars
  src/components/avatar.tsx
  src/components/sections/home.tsx
  src/pages/portfolio.tsx
Due: prettier --write

chore: adding halloween definitive version
  src/components/avatar.tsx
Due: prettier --write

chore: recover eyes
  src/components/avatar.tsx
Due: prettier --write

chore: reduce time for newYear
  src/components/weather/scenes/dynamic.tsx
  src/pages/portfolio.tsx
Due: prettier --write

chore: enabling halloween only certain days
  src/pages/portfolio.tsx
Due: prettier --write

chore: change color of skyline on halloween
  src/components/weather/scenes/halloween.tsx
Due: prettier --write

chore: clean determine time of day
  src/pages/portfolio.tsx
Due: prettier --write

chore: add ghosts for halloween
  src/components/weather/elements/ghosts.svg
  src/components/weather/elements/ghosts.tsx
  src/components/weather/scenes/halloween.tsx
Due: prettier --write

chore: finish ghosts
  src/components/weather/elements/ghosts.tsx
Due: prettier --write

chore: hide selectors on small devices
  src/pages/portfolio.tsx
Due: prettier --write

chore: fix time detection
  src/pages/portfolio.tsx
Due: prettier --write

chore: disable dropdown if season halloween or newYear
  src/components/dropdown.tsx
  src/pages/portfolio.tsx
Due: prettier --write

chore: remove not used libraries
  package-lock.json
  package.json
Due: npx npm-sort

chore: remove not used exports
  src/components/weather/elements/cloud.tsx
  src/components/weather/elements/fireworks.tsx
  src/components/weather/elements/ghosts.tsx
  src/components/weather/elements/rain.tsx
  src/components/weather/elements/snow.tsx
  src/components/weather/elements/stars.tsx
  src/components/weather/scenes/dynamic.tsx
  src/lib/ambient.ts
  src/lib/weather.ts
  src/locales/types.ts
Due: prettier --write

chore: add companies images
  src/assets/images/erni.png
  src/assets/images/hp.png
  src/assets/images/mitek.png
  src/assets/images/onnergy.png
  src/assets/images/portaventura.png
  src/assets/images/randstad.png
  src/assets/images/tibidabo.png
  src/assets/images/wefox.png
Due: none

chore: replace images
  src/assets/companies/erni.png
  src/assets/companies/hp.png
  src/assets/companies/mitek.png
  src/assets/companies/onnergy.png
  src/assets/companies/portaventura.png
  src/assets/companies/randstad.png
  src/assets/companies/tibidabo.png
  src/assets/companies/wefox.png
  src/assets/images/erni.png
  src/assets/images/hp.png
  src/assets/images/portaventura.png
  src/assets/images/randstad.png
  src/assets/images/tibidabo.png
Due: none

chore: enable companies
  src/components/sections/home.tsx
  src/data/companies.ts
Due: prettier --write

chore: update companies images
  src/assets/companies/erni.png
  src/assets/companies/hp.png
  src/assets/companies/mitek.png
  src/assets/companies/onnergy.png
  src/assets/companies/portaventura.png
  src/assets/companies/randstad.png
  src/assets/companies/tibidabo.png
  src/assets/companies/wefox.png
Due: none

chore: build github actions on main release
  .github/workflows/build.yml
Due: none

chore: adding companies translations
  src/locales/ca.ts
  src/locales/en.ts
  src/locales/es.ts
  src/locales/types.ts
  src/pages/portfolio.tsx
Due: prettier --write

chore: add modal component
  src/components/sections/contact-form.tsx
  src/components/sections/experience.tsx
  src/components/sections/gallery.tsx
  src/components/sections/projects.tsx
  src/components/ui/modal.tsx
Due: prettier --write

chore: align scroll on modal
  src/components/sections/experience.tsx
  src/components/sections/gallery.tsx
  src/components/sections/projects.tsx
  src/components/ui/modal.tsx
Due: prettier --write

chore: start with vitest
  package.json
  src/components/ui/modal.test.tsx
  src/setupTests.ts
  vitest.config.ts
Due: npx npm-sort, prettier --write

Create .nvmrc
  .nvmrc
Due: none

chore: update dependencies
  package-lock.json
  package.json
Due: npx npm-sort

chore: update vitest
  package-lock.json
  package.json
Due: npx npm-sort

chore: add configuration for vitest
  vitest.config.ts
Due: none

chore: add tests first iteration
  src/components/sections/contact-form.test.tsx
  src/components/sections/experience.test.tsx
  src/components/sections/gallery.test.tsx
  src/components/sections/projects.test.tsx
  src/components/ui/button.test.tsx
  src/components/ui/input.test.tsx
  src/components/ui/label.test.tsx
  src/components/ui/modal.test.tsx
  src/components/ui/textarea.test.tsx
  src/data/data.test.ts
  src/lib/i18n.test.ts
  src/lib/utils.test.ts
  src/lib/weather.test.ts
Due: prettier --write

chore: adding more tests
  src/components/avatar.test.tsx
  src/components/dropdown.test.tsx
  src/components/language-selector.test.tsx
  src/components/plane.test.tsx
  src/components/stats.test.tsx
  src/components/ui/dialog.test.tsx
  src/components/ui/select.test.tsx
  src/data/data.test.ts
  src/lib/weather.test.ts
Due: prettier --write

chore: add run on test scripts
  package.json
Due: npx npm-sort

chore: disable test for select
  src/components/ui/select.test.tsx
Due: prettier --write
