Repository JordiOrriols/website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx npm-sort, prettier --write

Remove ability to add or edit posts
  src/api/api.test.ts
  src/api/api.ts
  src/api/posts.ts
  src/components/card-post.tsx
  src/contexts/posts.tsx
  src/navigator.tsx
  src/routes/post-edit.test.tsx
  src/routes/post-edit.tsx
  src/routes/post-list.tsx
Due: prettier --write

simplify post
  src/api/posts.test.ts
  src/api/posts.ts
  src/contexts/posts.tsx
Due: prettier --write

Change small shadows
  src/components/card-post.tsx
  src/components/card.tsx
Due: prettier --write

Remove not used components
  src/components/button.tsx
  src/components/input.tsx
Due: prettier --write

Add tags and make image optional
  src/components/card-post.test.tsx
  src/components/card-post.tsx
  src/contexts/posts.tsx
  src/routes/post-list.test.tsx
Due: prettier --write

load posts from json
  public/posts.json
  src/api/api.test.ts
  src/api/api.ts
  src/api/posts.ts
  src/components/card-post.test.tsx
  src/contexts/posts.tsx
  src/routes/post-list.test.tsx
Due: prettier --write

Update api.test.ts
  src/api/api.test.ts
Due: prettier --write

Add Markdown for content
  package-lock.json
  package.json
  public/posts.json
  src/components/card-post.tsx
Due: npx npm-sort, prettier --write

Update card-post.tsx
  src/components/card-post.tsx
Due: prettier --write

make tags mandtory and make image url as optional
  src/api/posts.ts
Due: prettier --write

Update posts.json
  public/posts.json
Due: prettier --write

Add created add and tags
  public/posts.json
  src/components/card-post.test.tsx
  src/components/card-post.tsx
  src/contexts/posts.tsx
  src/routes/post-list.test.tsx
Due: prettier --write

Add dark and light mode
  src/App.tsx
  src/components/card-post.tsx
  src/components/card.tsx
  src/helpers/colors.tsx
  src/index.css
Due: prettier --write

Fix start DarkMode
  src/App.tsx
Due: prettier --write

Fix tests with react markdown
  package.json
Due: npx npm-sort

Load JSON posts directly from code
  public/posts.json
  src/App.tsx
  src/api/api.test.ts
  src/api/api.ts
  src/api/posts.ts
  src/contexts/posts.tsx
  src/helpers/posts.tsx
  src/routes/post-list.tsx
Due: prettier --write

Remove toastify
  package-lock.json
  package.json
  src/App.tsx
  src/api/posts.ts
  src/routes/post-list.tsx
Due: npx npm-sort, prettier --write

Improve Accesibility
  src/components/card-post.tsx
Due: prettier --write

Remove not used tests
  src/contexts/posts.test.tsx
  src/routes/post-list.test.tsx
Due: prettier --write

Update actions to deploy page
  .github/workflows/build.yml
Due: none

add stress post
  src/helpers/posts.tsx
Due: prettier --write

Create CNAME
  CNAME
Due: none

Initial commit
  .gitignore
  LICENSE
  README.md
  components.json
  index.css
  index.html
  package-lock.json
  package.json
  src/App.jsx
  src/CodeEditor.jsx
  src/CodeVisualizer.jsx
  src/GraphViewer.jsx
  src/KotlinLogo.svg
  src/components/ui/button.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/index.jsx
  src/lib/utils.ts
  tsconfig.app.json
  tsconfig.json
  vite.config.mjs
Due: npx npm-sort, prettier --write

chore: adding weather components
  src/components/weather/afternoon.tsx
  src/components/weather/morning.tsx
  src/components/weather/night.tsx
  src/components/weather/raining.tsx
  src/components/weather/thunderstorm.tsx
Due: prettier --write

chore: adding avatar and contact form
  src/components/avatar.tsx
  src/components/contact-form.tsx
Due: prettier --write

chore: adding missing components
  src/components/ui/label.tsx
  src/components/ui/textarea.tsx
Due: prettier --write

chore: add lavel component
  package-lock.json
  package.json
Due: npx npm-sort

chore: add main component
  src/portfolio.tsx
Due: prettier --write

chore: add select and framer motion
  package-lock.json
  package.json
  src/components/ui/select.tsx
Due: npx npm-sort, prettier --write

chore: fix imports
  src/components/contact-form.tsx
  src/portfolio.tsx
Due: prettier --write

Update tsconfig.app.json
  tsconfig.app.json
Due: none

chore: keep same structure
  src/pages/portfolio.tsx
Due: prettier --write

chore: load current page
  src/App.jsx
  src/CodeEditor.jsx
  src/CodeVisualizer.jsx
  src/GraphViewer.jsx
  src/pages/portfolio.tsx
Due: prettier --write

chore: reuse the app logo
  src/components/logo.tsx
  src/components/weather/afternoon.tsx
  src/components/weather/morning.tsx
  src/components/weather/night.tsx
  src/components/weather/raining.tsx
  src/components/weather/thunderstorm.tsx
Due: prettier --write

chore: create skyline component
  src/components/logo.tsx
  src/components/skyline.tsx
  src/components/weather/afternoon.tsx
  src/components/weather/morning.tsx
  src/components/weather/night.tsx
  src/components/weather/raining.tsx
  src/components/weather/thunderstorm.tsx
Due: prettier --write

chore: create clouds
  src/components/weather/afternoon.tsx
  src/components/weather/elements/cloud.tsx
  src/components/weather/elements/logo.tsx
  src/components/weather/elements/skyline.tsx
  src/components/weather/morning.tsx
  src/components/weather/night.tsx
  src/components/weather/raining.tsx
  src/components/weather/thunderstorm.tsx
Due: prettier --write

chore: adding barcelona skyline
  src/components/weather/elements/skyline.tsx
  src/components/weather/night.tsx
Due: prettier --write

chore: add avatar
  src/components/avatar.tsx
Due: prettier --write

chore: make avatar blink
  src/components/avatar.tsx
Due: prettier --write

chore: add new clouds
  index.css
  src/components/weather/afternoon.tsx
  src/components/weather/elements/cloud.tsx
  src/components/weather/morning.tsx
Due: prettier --write

Path conditions:
  npx npm-sort: any of: package.json
  prettier --write: (((any of: public/**/*.{html,json}) or (any of: src/**/*.{json,md})) or (any of: src/**/*.{css,scss})) or (any of: src/**/*.{tsx,ts})
