Repository JordiOrriols/wefox-challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

.lintstagedrc.json:

{
    "public/**/*.{html,json}": [
        "prettier --write"
    ],
    "src/**/*.{json,md}": [
        "prettier --write"
    ],
    "src/**/*.{css,scss}": [
        "stylelint --",
        "prettier --write"
    ],
    "src/**/*.{tsx,ts}": [
        "npm run tslint --",
        "npm run build",
        "npm run test -- --bail --findRelatedTests",
        "prettier --write"
    ]
}

Adding new scripts to README
  README.md
Due: none

Add new scripts for linting and analyzing
  package-lock.json
  package.json
Due: none

Build and test when pushing commits
  .husky/pre-push
Due: none

Updating with new logo
  src/logo.svg
Due: none

Run prettier and tslint
  .stylelintrc.json
  public/index.html
  public/manifest.json
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/index.tsx
  src/reportWebVitals.ts
  tsconfig.json
  tslint.json
Due: prettier --write, stylelint --, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Prettify readme
  README.md
Due: none

Lint test files separately
  package.json
  tsconfig.json
  tsconfig.test.json
  tslint.test.json
Due: none

Compress react app after build
  package-lock.json
  package.json
Due: none

Update husky scripts
  .husky/pre-push
  .lintstagedrc.json
Due: none

Update pre-push
  .husky/pre-push
Due: none

Update App.test.tsx
  src/App.test.tsx
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Fix tslint script path
  package.json
Due: none

Add basic routes
  src/routes/post-edit.test.tsx
  src/routes/post-edit.tsx
  src/routes/post-list.test.tsx
  src/routes/post-list.tsx
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Add basic navigator with post routes
  src/navigator.tsx
  src/routes/post-edit.test.tsx
  src/routes/post-edit.tsx
  src/routes/post-list.test.tsx
  src/routes/post-list.tsx
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Use linter on pre commit instead of lint staged
  .husky/pre-commit
  .lintstagedrc.json
Due: none

Install styled components
  package-lock.json
  package.json
Due: none

Install styled components and show basic
  package-lock.json
  package.json
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  tslint.json
Due: prettier --write, stylelint --, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Update basic styling for frame
  src/App.tsx
  src/index.css
Due: prettier --write, stylelint --, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Create Card component
  src/components/card.test.tsx
  src/components/card.tsx
  tslint.json
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Add posts context
  src/contexts/posts.test.tsx
  src/contexts/posts.tsx
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Not use HTTPS anymore to allow access to API
  .env
Due: none

Add post card component
  src/components/card-post.test.tsx
  src/components/card-post.tsx
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Loading posts from API
  src/App.tsx
  src/routes/post-list.tsx
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Add links to edit post
  src/components/card-post.tsx
  src/navigator.tsx
  src/routes/post-list.tsx
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Add git add on lint staged
  .lintstagedrc.json
  src/routes/post-list.tsx
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Use colors from constants
  src/components/card-post.tsx
  src/helpers/colors.tsx
  src/routes/post-list.tsx
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Add magic numbers file
  src/helpers/numbers.ts
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Add basic logger
  src/helpers/logger.test.ts
  src/helpers/logger.ts
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Add fallback image when original is not loading
  src/components/card-post.tsx
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Add API helper using fetch
  src/cloud/api.test.ts
  src/cloud/api.ts
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Get Posts from API
  src/cloud/api.ts
  src/cloud/posts.test.ts
  src/cloud/posts.ts
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Fix lintStaged
  .lintstagedrc.json
Due: none

Use getPosts on App
  src/App.tsx
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Center card on the middle
  src/components/card.tsx
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Basic edit Post
  src/components/input.tsx
  src/contexts/posts.tsx
  src/routes/post-edit.tsx
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Remove tailing comma rule
  tslint.json
Due: none

Add basic edit and create call
  src/App.tsx
  src/api/api.test.ts
  src/api/api.ts
  src/api/posts.test.ts
  src/api/posts.ts
  src/routes/post-edit.tsx
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Disable svg temporally
  src/App.tsx
  src/logo.svg
  src/routes/post-edit.tsx
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests

Pass tests on CI mode
  .husky/pre-push
Due: none

Update tests
  src/api/api.test.ts
  src/api/api.ts
  src/helpers/logger.test.ts
  src/routes/post-edit.test.tsx
  src/routes/post-list.test.tsx
Due: prettier --write, npm run tslint --, npm run build, npm run test -- --bail --findRelatedTests
